.App {
  text-align: center;
  height: 100%;
}

#root{
  height: 100%;
}


body, html{
  height: 100%;
}

.popup{
  font-size: calc(3px + 2vmin);
  color: white;
  position: relative;

  border-radius: 12px;
  border: #00150e;
  border-width: thick;
  width: 9vw;
  height: 14vh;
  background: #099297a8;
}

#popup1{
  top: 0%;
  left: 59%;
}
#popup2{
  top: -20%;
  left: 78%;;
}



.uncover:hover .popup{display:block;}

.uncover{
  color: white;
  position: relative;
  -webkit-transform: skew(
          35deg
  );
  -moz-transform: skew(35deg);
  -o-transform: skew(35deg);
  transform: skew(
          35deg
  );
}

#solar1{
  height: 12%;
  width: 5%;
  left: 68%;
  top: 9.5%;
}

#solar2 {
  height: 12%;
  width: 5%;
  left: 73%;
  top: -6%;
}

.background {
  background-image: url('res/bground.png');
  height:100%;
  background-color: #096166;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%;
}

.App-link {
  color: #61dafb;
}

.error {
  color: #ffb8bf
}

.turbine{
  position: relative;
  right: 25%;
  top: 28%;
  width: 28vh;
  height: 25vh;
}

@media (prefers-reduced-motion: no-preference) {
  .turbine {
    animation: turbine-spin infinite 10s linear;
  }
}


@keyframes turbine-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
