.App {
  text-align: center;
  height: 100%;
}

#root{
  height: 100%;
}


body, html{
  height: 100%;
}

.popup{
  font-size: calc(3px + 2vmin);
  color: white;
  position: relative;

  border-radius: 12px;
  border: #00150e;
  border-width: thick;
  width: 9vw;
  height: 14vh;
  background: #099297a8;
}

#popup1{
  top: 27%;
  left: 59%;
}
#popup2{
  top: 7%;
  left: 78%;;
}



.uncover:hover .popup{display:block;}

.uncover{
  position: relative;
  -webkit-transform: skew(
          35deg
  );
  -moz-transform: skew(35deg);
  -o-transform: skew(35deg);
  transform: skew(
          35deg
  );
}

#solar1{
  height: 9%;
  width: 5%;
  left: 68%;
  top: 38%;
}

#solar2 {
  height: 9%;
  width: 5%;
  left: 73%;
  top: 25.5%;
}

.background {
  background-image: url('res/bground.png');
  height:100%;
  background-color: #096166;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%;
}

.App-link {
  color: #61dafb;
}

.error {
  color: #ffb8bf
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
