.App {
  text-align: center;
  height: 100%;
}

#root{
  height: 100%;
}


body, html{
  height: 100%;
}

.popup{
  display: none;
  font-size: calc(10px + 2vmin);
  color: white;
}
.uncover:hover .popup{display:block;}

.uncover{
  background: #ffffffbd;
  position: relative;
  -webkit-transform: skew(
          35deg
  );
  -moz-transform: skew(35deg);
  -o-transform: skew(35deg);
  transform: skew(
          35deg
  );
}

#solar1{
  height: 9%;
  width: 5%;
  left: 68%;
  top: 38%;
}

#solar2 {
  height: 9%;
  width: 5%;
  left: 69%;
  top: 36%;
}

.background {
  background-image: url('res/bground.png');
  height:100%;
  background-color: #096166;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%;
}

.App-link {
  color: #61dafb;
}

.error {
  color: #7a0000
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
